.project-container {
  display:flex;
}

.project-container-left {
  margin-right: 200px;
}



img {
  position: absolute;
  right: 10px;
  bottom: -100px;
  border-radius: 10px;
  opacity: .08;


}

.project-title {
  font-size: 25px;
  font-weight: bold;
  padding-bottom: 5px;
}