.projects-bar {
  margin: 0;
  margin-top: 5px;
  padding: 0;
  position: block;
  overflow: auto;
  display:flex;
  
}

.projects-bar button {
  border-color: gainsboro;
  border-style: solid;
  border-width: 2px;
  border-radius: 10px;
  margin-top:5px;
  margin-right: 5px;
  display: block;
  color: white;
  background: rgba(0, 0, 0, 0); 
  padding: 5px;
  text-decoration: none;
  transition-duration: .2s;
}

.projects-bar button:hover {
  transition-duration: .2s;
  background: rgba(0, 0, 0, .4);
}