.back-container {
  background: linear-gradient(-45deg, #F76C5E, #9067C6, #F76C5E);
  background-size: 400% 400%;
  position: fixed;
  animation: gradient 12s ease infinite;
  height: 100vh;
  width: 100vw;
}

.general-styles {
  font-family: 'Atkinson Hyperlegible', sans-serif;
  /* font-family: 'Ubuntu', sans-serif;*/
  margin-top: 50px;
  margin-left: 180px;

}

h2 {
  font-family: 'Ubuntu', sans-serif;
}

h3 {
  font-family: 'Ubuntu', sans-serif;
}

h4 {
  font-size: medium;
  font-weight: 500;
  font-family: 'Ubuntu', sans-serif;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}